@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    /*Primary*/
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /*Background*/

    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line-hsl: (215, 32%, 27%);
    --White-white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-size: 18px;
    background-color: var(--main-BG);
    font-family: 'Poppins', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;
}


section {
    
    padding: 1.5rem ;
    background-color: var(--card-BG);
    border-radius: 1.5rem;
    box-shadow: 10px 10px 10px var(--line-hsl);
    margin-bottom: 2rem;   
}

.img{
    position: relative;
}

.img > img {
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
}

.img .svg{
    position: absolute;
    background-color: var(--Cyan);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.img .svg:hover{
   opacity: 0.5;
   cursor: pointer;
   border-radius: 1rem;
}

.img .svg img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}


section h1 {
    padding-top: 1rem;
    cursor: pointer;
    color: var(--White-white);
    font-weight: 900;
    margin-bottom: 1rem;
}

section h1:hover{
    color: var(--Cyan);
}

section .first-p {
    color:var(--Soft-blue);
    margin-bottom: 1rem;
    
}

.ETH{
    display: flex;
    justify-content: space-between ;
    padding-top: 2rem;
}


.ETH .ETH-1 p {
    display: inline;
    color: var(--Cyan);
    font-weight: 800;
}

.ETH .ETH-2 p{
    display: inline;
    color: var(--Soft-blue);
}

hr{
    margin-top: 2rem ;
    margin-bottom: 2rem ;

}

.footer {
    display:flex;
    align-items: center;

}
.footer img {
    width:3rem;
    border-radius: 50%;
    border: 1px solid var(--White-white);   
     
}

.footer p {
    display: inline;    
    color: var(--Soft-blue);
    padding-left: 1.5rem;
}

.footer p span{
    color: var(--White-white);
    cursor: pointer;
}
.footer p span:hover{
    color: var(--Cyan);
}


@media (min-width: 500px) {
    section {
      width: 400px;
    }
  }



